extends layout

block body
  div(ng-controller='AppCtrl')
    h2 FlightStats Live Monitoring
    div(ng-controller='SearchFormCtrl')
      div
        form(name='searchForm', ng-submit='searchForm.$valid && !isBusy && submit()', novalidate)
          h3(id="messageBox") Please fill up form to start live monitoring
          | Airport:
          br
          input(name='airport', type='text', ng-model='searchFormData.airport', ng-minlength='2', ng-maxlengt='3', required, ng-disabled='isBusy')
          br
          | Direction:
          br
          select(name='direction', ng-model='searchFormData.direction', required, ng-disabled='isBusy')
            option(value='arr', selected) Arrivals
            option(value='dep') Departures
          br
          | Carrier:
          br
          input(name='carrier', type='text', ng-model='searchFormData.carrier', ng-disabled='isBusy')
          br
          | Update interval:&nbsp

          select(name='interval', ng-model='updateInterval', required, ng-disabled='isBusy')
            option(value='2', selected) 2
            option(value='5') 5
            option(value='10') 10
          br
          input(type='submit', value='Search', ng-disabled='searchForm.$invalid || isBusy')
          input(type='button', value='Stop live update!', ng-click='stop()', ng-disabled='!isBusy')
      div(ng-show='statuses.length > 0')
        table
          tr
            th(ng-show='!!currentQuery.carrier', width='100px') Date
            th(width='350px') Destination
            th(width='350px') Flight (Codeshares)
            th(width='200px', ng-show='!currentQuery.carrier') Airline
            th(width='260px') Schedule / Actual
            th(width='70px') Gate
            th(width='100px') Status
          tr(ng-repeat='info in statuses')
            td(ng-show='!!currentQuery.carrier') {{info.departureDate}}
            td
              span(ng-if="currentQuery.direction == 'arr'") {{info.departureCode}} ({{info.departureName}})
              span(ng-if="currentQuery.direction == 'dep'") {{info.arrivalCode}} ({{info.arrivalName}})
            td {{info.flightNumber}}&nbsp;
              span(ng-if='!!info.codeshares') ({{info.codeshares}})
            td(ng-show='!currentQuery.carrier') {{info.airlineName}}
            td(ng-if="currentQuery.direction == 'dep'") {{info.scheduledDeparture}}&nbsp;
              span(ng-if='!!info.actualDeparture') / &nbsp{{info.actualDeparture}}
            td(ng-if="currentQuery.direction == 'arr'") {{info.scheduledArrival}}&nbsp;
              span(ng-if='!!info.actualDeparture') / &nbsp{{info.actualArrival}}
            td {{info.gate}}
            td {{info.status}}



  script(src='/socket.io/socket.io.js')
  script(src='js/jquery-2.0.3.js')
  script(src='js/angular.js')
  script(src='bower_components/angular-socket-io/socket.js')
  script(src='js/app.js')
  script(src='js/controllers.js')