/* app css stylesheet */

input.ng-invalid, input:focus.ng-invalid, select.ng-invalid {
    border: 1px solid red;
}

h3.error {
    color: red;
}

h3.notice {
    color: green;
}

h3.warning {
    color: blue;
}
